.button {
  &__form {
    font-weight: 700;
    font-style: Bold;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 100px;
    transition: var(--transition);
    &:hover {
      opacity: 0.9;
    }
  }
}
